.hero-container {
  background-image: url("/images/kat-hero-image.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: calc(100vh - 80px);
  padding: 20px;
  color: white;
}

.hero-inner-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.hero-logo {
  width: 200px;
}

.hero-tagline {
  margin-top: 30px;
  font-weight: bold;
  font-style: italic;
  font-size: 72px;
  max-width: 350px;
}
