@use "../../shared/styles.scss" as styles;

.home-container {
  border-bottom: 20px solid styles.$ka-gold;
}

.hero-container {
  background-image: url("/images/kat-hero-image.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: calc(100vh - 70px);
  padding: 20px;
  color: white;
}

.hero-inner-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.hero-logo {
  width: 200px;
}

.hero-tagline {
  margin-bottom: 15px;
  font-weight: bold;
  font-style: italic;
  max-width: 350px;
  font-size: 60px;

  @include styles.media(styles.$min-sm) {
    font-size: 72px;
  }
}

.contact-container {
  margin: 100px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  @include styles.media(styles.$min-sm) {
    margin: 150px 0;
  }
}

.contact-pic-info-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  @include styles.media(styles.$min-sm) {
    flex-direction: row;
    align-items: flex-end;
  }
}

.contact-profile-pic {
  width: 200px;
  height: 200px;
  background-image: url("/images/profile-pic.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  border-radius: 50%;
  box-shadow: 0 1px 10px #a7a7a73d;

  @include styles.media(styles.$min-md) {
    width: 300px;
    height: 300px;
  }
}

.contact-info-container {
  font-size: 25px;
  text-align: center;
  margin-top: 20px;

  @include styles.media(styles.$min-sm) {
    text-align: left;
    margin-left: 10px;
  }
}

.contact-payment {
  font-size: 16px;
  color: styles.$medium-grey;
}

.cash {
  color: #37d433;
  border-bottom: 1px solid #37d433;
}

.venmo {
  color: #388bff;
  border-bottom: 1px solid #388bff;
}

.zelle {
  color: #6c1fd4;
  border-bottom: 1px solid #6c1fd4;
}

.button {
  cursor: pointer;
  &:hover {
    color: styles.$ka-gold;
    border-bottom: 1px solid styles.$ka-gold;
  }
}

.zelle-pic {
  width: 100%;
  max-width: 300px;
}
