@use "../../shared//styles.scss" as styles;

.nav-container {
  position: sticky;
  top: 0;
  left: 0;
  background-color: white;
  border-bottom: 5px solid styles.$ka-gold;
}

.nav-inner-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 20px 15px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.nav-logo {
  height: 45px;
}
